
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Light gray background */
}

.login-form {
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da; /* Gray border */
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* Green button */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.login-form button:hover {
  background-color: #218838; /* Darker green on hover */
}

.login-form p {
  text-align: center;
  margin-top: 10px;
}

.login-form a {
  display: block;
  text-align: center;
  background-color: #ffffff; /* White background */
  border: 1px solid #ced4da; /* Gray border */
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #495057; /* Dark gray text */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.login-form a:hover {
  background-color: #f8f9fa; /* Light gray background on hover */
}
