.bottom-navbar-background-image {
  background: url("../../assets/background.jpg") no-repeat center center/cover;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  height: 200px;
}


.bottom-navbar-content {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px green solid; */

  

}

.bottom-navbar-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #4f9be8;
}

.bottom-navbar-link {
  color: #3498db;
}

.bottom-navbar-link:hover {
  color: #000;
}

.medal {
  background-image: url('../../assets/medal.png');
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  /* margin-right: 200px; */
  position: absolute;
  left: 80px;
  top: 50%; /* Place the top of the element at the middle of the container */
  transform: translateY(-50%);  
}
.text{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;

}
.person-text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


