textarea {
  width: 500px !important; /* Set the width of the textarea */
  height: 50px !important; /* Set the height of the textarea */
  resize: none; /* Disable resizing */
  border: 2px solid #808080; /* Add border with color */
  border-radius: 4px;

}
.arrow-right{
color: white;
background-color: rgb(30, 109, 155);
border-radius: 4px;
padding: 2px 4px;
width: 50px;
height: 20px;
margin-left: 5px;
}

